{% extends 'template.twig' %}
{% block title %}
    Ch.{{ article.articleNumber}} - {{parent()}}
{% endblock %}

{% block body %}

    <main class="container-fluid main"> 

        <div class="row">

            <!-- display article's content -->
            <div class="col-xs-12 subdivision">
                <h3>Un peu de lecture</h3>
            </div>


            <div class="col-xs-10 col-xs-push-1">
                <div class="comments">
                    <p>{{ article.content|raw }}</p>
                </div>
            </div>
    
            <!-- display comments -->
            <div class="col-xs-12 subdivision">
                <h3>Commentaires</h3>
            </div>
        

            <div class="col-xs-10 col-xs-push-1">
                        
                {% if not comments %}
                        
                    <div class="comments">
                        <p>Il n'y a pas encore de commentaires</p>
                    </div>

                {% else %}
                    {% for commentGrp in comments %}                     
                        
                        <div class="comments">
                            {% for comment in commentGrp %}
                                
                            {% if not comment.parentId == 0 %}         
                                <div class="answer">
                                    <p><strong>{{ comment.author|e }}</strong> le {{ comment.commentDate|e }}</p>
                                    <p>{{ comment.comment|e|nl2br }}</p>

                                    {% if comment.moderationStatus !=2 %}
                                        <form method="post" action="index.php?action=alertComment&amp;id={{article.id }}&amp;commentId={{ comment.id }}&amp;alert=1">
                                            <button type="submit" name="alert">Signaler</button>
                                        </form>
                                    {% endif %}
                                </div>
                                    
                                    
                            {% else %}               
                                <div class="comment">
                                    <div >
                                        <p><strong>{{ comment.author|e }}</strong> le {{ comment.commentDate|e }}</p>
                                        <p>{{ comment.comment|e|nl2br }}></p>
                                    </div>  

                                    <div class="panel-group" id="accordion{{ comment.id }}" aria-multiselectable="false">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" id="headingOne">
                                                <button data-toggle="collapse" data-parent="#accordion{{ comment.id }}" href= "#collapse{{ comment.id }}" aria-expanded="false" aria-controls="collapseOne">Répondre</button>  
                        
                                                {% if comment.moderationStatus !=2 %}
                                                <!--if ($comment->getModerationStatus() !=2) 
                                                    {  -->
                                                    <form method="post" action="index.php?action=alertComment&amp;id={{ article.id }}&amp;commentId={{ comment.id }}&amp;alert=1">
                                                        <button type="submit" name="alert">Signaler</button>
                                                    </form>
                                                {% endif %}
                                            </div>
                                        
                                            <div id="collapse{{ comment.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    <form  method="post" action="index.php?action=addComment&amp;id={{ article.id }}&amp;parentId={{ comment.id }}&amp;chapitre={{ article.articleNumber }}">
                                                        
                                                        <p><input class="author" type="text" name="author" placeholder="Votre nom" required></p>
                                                        <p><textarea id="answer" name="comment" placeholder="Saisissez votre réponse ici" required></textarea></p>
                                                            <button type="submit" name="answer">Envoyer la réponse</button>
                                                                    
                                                    </form>                                
                                                </div>
                                            </div>           
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                      
                            {% endfor %}
                        </div> 
                    {% endfor %}
                {% endif %}          
            </div>
                    
               
            <!-- display form to add a comment -->
            <div class="col-xs-12 subdivision">
                <h3>Exprimez-vous !!!</h3>
            </div>
        
            <div class="col-xs-10 col-xs-push-1 ">

                <form class="comment-form" method="post" action="index.php?action=addComment&amp;id={{ article.id }}&amp;parentId=0&amp;chapitre={{ article.articleNumber }}">

                    <p>Laissez un message ;-)</p>
                    <p><input class="author" type="text" name="author" placeholder="Votre nom" required></p>
                    <p><textarea id="comment" name="comment" placeholder="Saisissez votre commentaire ici" required></textarea></p>
                    <p><input type="submit" value="Envoyer"></p>

                </form>
            </div>
        </div>
            
    </main>
{% endblock %}
  