    
{% extends 'template.twig' %}
{% block title %}
    Home - {{parent()}}
{% endblock %}

{% block header %}
        <header class="container-fluid homepage">         

            <div class="title ">
                <h1>Billet simple pour l'Alaska</h1>
                <h3>Jean Forteroche</h3>
            </div>
        </header>
{% endblock %}  

{% block body %}      
    <div class="container-fluid" id="wrapper">

          
        <div class="col-xs-12 col-md-4">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="carousel-page">
                            <img class="img-responsive" src="public/images/garrett-parker-247225.jpg" alt="bras de rivière en Alaska">
                        </div>
                    </div>

                    <div class="item">
                        <div class="carousel-page">
                            <img class="img-responsive" src="public/images/brown-bears-2119560_1920.jpg" alt="ours bruns">
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-page">
                            <img class="img-responsive" src="public/images/chugach-national-forest-1622635_1920.jpg" alt="Forêt nationale de Chugach">
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-page">
                            <img class="img-responsive" src="public/images/alaska-69135_1920.jpg" alt="aurore boréale">
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-page">
                            <img class="img-responsive" src="public/images/malamute-1149530_1920.jpg" alt="chien husky">
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-page">
                            <img class="img-responsive" src="public/images/steve-halama-351494.jpg" alt="queues de baleines">
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

    
            <article>
                <div class="presentation">
                    <div class="thumbnail">
                    
                            <div class="row">
                                <!--<div class="col-xs-1">
                                   
                                </div>-->
                            
                                <div class="col-xs-12 center">
                                     <img src="public/images/radka-kocanova-454196.jpg" alt="portrait Jean Forteroche" class="img-circle portrait">
                                    <h4><span>À propos</span></h4>
                                </div>
                            
            
                                <div class="col-xs-12">
                                    <div class="caption">
                                        <p class="justify">    Passionné depuis toujours par les grands espaces, c'est tout naturellement que Jean a posé ses valises au coeur du Wild. C'est là qu'il puise l'inspiration pour écrire ses oeuvres. </p>
                                        <p class="center"><a class="btn btn-default btn-round" href="index.php?action=presentation">En lire plus</a></p>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </article>
        </div>

        <div class="col-xs-12 col-md-8">
            <div class="row ">
                <!--<?php
                foreach ($articles as $article)
                {
                ?>-->
                {% for article in articles %}
                    <article class="col-xs-12 col-md-10 col-md-push-1">

                        <div class="thumbnail">
                            <div class="row">
                                <div id="date" class="col-xs-1">
                                    <h6>{{ article.dateCreation }} <!--echo $article->getDateCreation(); ?>--></h6>
                                </div>
                            </div>
                            <div class="caption">
                                <h4 class="center">
                                    Chapitre {{ article.articleNumber }} : {{ article.title }}
                                    <!--<?php echo 'Chapitre ' . $article->getArticleNumber() . ' : ' . $article->getTitle(); ?>-->
                                </h4>   
                                                
                                                
                                <p>{{ article.content|raw }}</p>

                                <p class="center"><a class="btn btn-default btn-round" href="index.php?action=article&id={{ article.id }}">En lire plus</a></p>
                            </div>
                        </div>
                    </article>
                {% endfor %}

                <!--<?php
                }
                ?>-->
            </div>
        </div>
            
        <div class="col-xs-12 center">
            <ul class="pagination">
                <!--<?php
                for ($i=1; $i<=$numbers ;$i++)
                {
                ?> -->
                {% for i in 1..numbers %} 
                    <li><a  href="index.php?page={{ i }}">{{ i }}</a></li>
                {% endfor %}

               <!-- <?php
                }
                ?>-->
            </ul>
        </div>
    </div>
{% endblock %}  