{% extends 'templateAdmin.twig' %}
{% block title %}
    Modifs ch.{{ article.articleNumber}} - {{parent()}}
{% endblock %}

{% block h1 %}Modification de l'article{% endblock %}

{% block h2 %}{% endblock %}

{% block body %}

    <form method="post" action="index.php?action=modifArticle&amp;id={{article.id}}"> 

        <p><input  type="text" name="number" required value="{{article.articleNumber|e}}"></p>
        <p><input  type="text" name="title" required value="{{article.title|e}}"></p>
        <p><textarea  id="textarea" name="content"  required>{{article.content|e}}</textarea></p>
        <p>
        	<input type="submit" name="submit" id="confirmation" value="Valider la modification">
        	<button><a href="index.php?action=adminArticles">retour</a></button>
        </p>

    </form>

{% endblock %}