{% extends 'templateAdmin.twig' %}
{% block title %}
    Modifs ch.{{ article.articleNumber}} - {{parent()}}
{% endblock %}

{% block h1 %}Modification de l'article{% endblock %}

{% block h2 %}{% endblock %}

{% block body %}

    <form method="post" action="index.php?action=modifArticle&amp;id={{article.id}}"> 

        <p><input  type="text" name="number" required value="{{article.articleNumber|e}}"></p>
        <p><input  type="text" name="title" required value="{{article.title|e}}"></p>
        <p><textarea  id="textarea" name="content"  required>{{article.content|e}}</textarea></p>
        <p>
        	<input type="submit" name="submit" value="Valider la modification">
        	<button><a href="index.php?action=adminArticles">retour</a></button>
        </p>

    </form>

    {% if _post.submit %}
    <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Parfait !!! </strong>La modification a bien été prise en compte
    </div>
    {% else %}
    <div class="alert alert-danger fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Misère !!! </strong>Le commentaire n'a pas été envoyé.</div>
    {% endif %}
{% endblock %}