{% extends 'templateAdmin.twig' %}
{% block title %}
    Commentaire - {{parent()}}
{% endblock %}

{% block h1 %}Commentaires{% endblock %}

{% block h2 %}Les commentaires signalés, à modérer{% endblock %}

{% block body %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">N°commentaire</th>
                <th scope="col">Chapitre concerné</th>
                <th scope="col">Auteur</th>
                <th scope="col">Contenu</th>
                <th scope="col">Modération</th>
            </tr>
        </thead>

        <tbody>
        {% for comment in comments %}
            {% if comment.alert == 1 and comment.moderationStatus == 0 %}
                <tr>  
                    <td scope="row">{{ comment.id|e }}</td>
                    <td>{{ comment.concernedArticle|e }}</td>
                    <td>{{ comment.author|e }}</td>
                    <td>{{ comment.comment|e }}</td>
                    <td>
                        <!-- Button trigger modal -->
                        <button class="confirmation" data-toggle="modal" data-target="#confirmation">Oui</button>

                        <!-- Modal -->
                        <div class="modal fade " id="confirmation" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content alert alert-danger" >
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title"><strong>Attention</strong></h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Vous êtes sur le point de modérer ce commentaire, voulez-vous continuer ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                        <a href="index.php?action=moderateComment&commentId={{ comment.id }}&moderation=2"><button type="button" class="btn btn-danger">Confirmer</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>                  
                        <a href="index.php?action=moderateComment&commentId={{ comment.id }}&moderation=1" ><button>Non</button></a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}                       
        </tbody>
    </table>
</div>

<h2 class="sub-header">Tous les commentaires</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">N°commentaire</th>
                <th scope="col">Chapitre concerné</th>
                <th scope="col">Auteur</th>
                <th scope="col">Contenu</th>
                <th scope="col">Date</th>
                <th scope="col">Modération</th>
            </tr>
        </thead>

        <tbody>
        {% for comment in comments %}                      
            <tr>
                <td>{{ comment.id|e }}</td>
                <td>{{ comment.concernedArticle|e }}</td>
                <td>{{ comment.author|e }}</td>
                <td>{{ comment.comment|e }}</td>
                <td>{{ comment.commentDate|e }}</td>
                <td>
                    <!-- Button trigger modal -->
                    <button class="confirmation" data-toggle="modal" data-target="#moderation">Modérer</button>

                    <!-- Modal -->
                    <div class="modal fade alert alert-danger" id="moderation" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title"><strong>Attention</strong></h4>
                                </div>
                                <div class="modal-body">
                                    <p>Vous êtes sur le point de modérer ce commentaire, voulez-vous continuer ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                    <a href="index.php?action=moderateComment&commentId={{ comment.id }}&moderation=2"><button type="button" class="btn btn-primary">Confirmer</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>                 
            </tr>
        {% endfor %}
                                
        </tbody>
    </table>
</div>
        
<h2 class="sub-header">Commentaires modérés</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">N°commentaire</th>
                <th scope="col">Chapitre concerné</th>
                <th scope="col">Auteur</th>
                <th scope="col">Contenu</th>
                <th scope="col">Date</th>
                <th scope="col">Rétablir</th>
            </tr>
        </thead>

        <tbody>
        {% for comment in comments %}
            {% if comment.moderationStatus == 2 %}                       
                <tr>
                    <td>{{ comment.id|e }}</td>
                    <td>{{ comment.concernedArticle|e }}</td>
                    <td>{{ comment.author|e }}</td>
                    <td>{{ comment.comment|e }}</td>
                    <td>{{ comment.commentDate|e }}</td>
                    <td><a href="index.php?action=moderateComment&commentId={{ comment.id }}&moderation=1" ><button>oui</button></a></td>
                </tr>
            {% endif %}
        {% endfor %} 
        </tbody>
    </table>
{% endblock %}                    